@model OdontoSystem.Controllers.PatientRecordViewModel
@using OdontoSystem.Areas.Identity.Data
@using BusinessLogic.Models

@{
    ViewData["Title"] = "Create";
    var treatments = (IEnumerable<Treatment>)ViewData["Tratamientos"];
    var doctors = (IEnumerable<OdontoSystemUser>)ViewData["Doctores"];
    var history = (IEnumerable<PatientHistory>)ViewData["Historia"];
    var odontogram = (IEnumerable<Odontogram>)ViewData["Odontograma"];
    var myUser = (OdontoSystemUser)ViewData["MyData"];
    var patient = (Patient)ViewData["Paciente"];
    var nacimiento = patient.BirthDate;
    int edad = DateTime.Today.AddTicks(-nacimiento.Ticks).Year - 1;
}

<!-- Modal Create -->
<div id="odontogramModal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row d-flex justify-content-center">
                    <!-- Modal Body -->
                    <h1>Registrar datos de odontograma</h1>
                    <hr />
                    <div class="form-group">
                        <label class="control-label">Descripción</label>
                        <textarea class="form-control" name="odoDescription" rows="3"></textarea>
                        <span class="text-danger" id="ondontogramError"></span>
                    </div>
                    <div class="form-group mt-3 d-flex justify-content-center">
                        <input name="odoSubmit" type="submit" value="Guardar" class="btn btn-primary" />
                        <input name="odoDelete" type="submit" value="Eliminar datos" class="btn btn-danger mx-2" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Historia clínica</h5>
                    <div class="ibox-tools">
                        @*<a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                        </a>*@
                    </div>
                </div>
                <div class="ibox-content table-responsive">
                    <form asp-action="Create" id="createAttendFrm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" class="form-control" />
                        <input type="hidden" asp-for="PatientId" class="form-control" />
                        <input type="hidden" asp-for="AgendaId" class="form-control" />
                        <div class="row">
                            <div class="form-group col-8">
                                <div class="d-flex justify-content-between">
                                <label asp-for="PatientId" class="control-label"></label>
                                <a asp-controller="Patient" asp-action="Edit" asp-route-id="" class="btn btn-sm btn-info mb-1" target="_blank">Ver info</a>
                                </div>
                                <input class="form-control" value="@patient.FirstName @patient.LastName" readonly />
                                <span asp-validation-for="PatientId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4">
                                <label class="control-label">Tipo de paciente</label>
                                <select class="form-control" name="patientType">
                                    @if (patient.TypeName == "General")
                                    {
                                        <option value="General" selected>General</option>
                                        <option value="Ortodoncia">Ortodoncia</option>
                                    }
                                    else if (patient.TypeName == "General")
                                    {
                                        <option value="General">General</option>
                                        <option value="Ortodoncia" selected>Ortodoncia</option>
                                    }
                                    else{
                                        <option value="General" selected>General</option>
                                        <option value="Ortodoncia">Ortodoncia</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-6 mt-2">
                                <label class="control-label">Edad</label>
                                <input class="form-control" readonly value="@edad" />
                            </div>
                            <div class="form-group col-6 mt-2">
                                <label class="control-label">Contacto</label>
                                <input class="form-control" readonly value="@patient.CellPhone" />
                            </div>
                            <div class="form-group col-12 mt-2">
                                <label asp-for="RFC" class="control-label"></label>
                                <textarea asp-for="RFC" class="form-control" rows="3"></textarea>
                                <span asp-validation-for="RFC" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2">
                                <label asp-for="Hospitalizations" class="control-label"></label>
                                <input asp-for="Hospitalizations" class="form-control" />
                                <span asp-validation-for="Hospitalizations" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2">
                                <label asp-for="CurrentMedicTx" class="control-label"></label>
                                <select asp-for="CurrentMedicTx" class="form-control">
                                    <option value="">Selecione...</option>
                                    @foreach (var item in treatments)
                                    {
                                        <option value="@item.Id">@item.Description ($@item.Price)</option>
                                    }
                                </select>
                                <span asp-validation-for="CurrentMedicTx" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2">
                                <label asp-for="CoagulationP" class="control-label"></label>
                                <input asp-for="CoagulationP" class="form-control" />
                                <span asp-validation-for="CoagulationP" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2">
                                <label asp-for="RespiratoryP" class="control-label"></label>
                                <input asp-for="RespiratoryP" class="form-control" />
                                <span asp-validation-for="RespiratoryP" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2">
                                <label asp-for="Trauma" class="control-label"></label>
                                <input asp-for="Trauma" class="form-control" />
                                <span asp-validation-for="Trauma" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2">
                                <label asp-for="Allergies" class="control-label"></label>
                                <input asp-for="Allergies" class="form-control" />
                                <span asp-validation-for="Allergies" class="text-danger"></span>
                            </div>
                            <div class="form-group col-6 mt-2">
                                <label asp-for="SystemicDiseases" class="control-label"></label>
                                <textarea asp-for="SystemicDiseases" class="form-control" rows="3"></textarea>
                                <span asp-validation-for="SystemicDiseases" class="text-danger"></span>
                            </div>
                            <div class="form-group col-6 mt-2">
                                <label asp-for="DentalHistory" class="control-label"></label>
                                <textarea asp-for="DentalHistory" class="form-control" rows="3"></textarea>
                                <span asp-validation-for="DentalHistory" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check mt-2">
                                <label class="form-check-label px-3">
                                    <input class="form-check-input" asp-for="Smokes" /> @Html.DisplayNameFor(model => model.Smokes)
                                </label>
                                <label class="form-check-label px-3">
                                    <input class="form-check-input" asp-for="AlcoholicDrinks" /> @Html.DisplayNameFor(model => model.AlcoholicDrinks)
                                </label>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div id="odontogram">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="odonto-numbers">8</td>
                                            <td class="odonto-numbers">7</td>
                                            <td class="odonto-numbers">6</td>
                                            <td class="odonto-numbers">5</td>
                                            <td class="odonto-numbers">4</td>
                                            <td class="odonto-numbers">3</td>
                                            <td class="odonto-numbers">2</td>
                                            <td class="odonto-numbers">1</td>
                                            <td class="odonto-numbers">1</td>
                                            <td class="odonto-numbers">2</td>
                                            <td class="odonto-numbers">3</td>
                                            <td class="odonto-numbers">4</td>
                                            <td class="odonto-numbers">5</td>
                                            <td class="odonto-numbers">6</td>
                                            <td class="odonto-numbers">7</td>
                                            <td class="odonto-numbers">8</td>
                                        </tr>
                                        <tr>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="1" data-position="left" data-tooth="8" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="1" data-position="left" data-tooth="7" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="1" data-position="left" data-tooth="6" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="1" data-position="left" data-tooth="5" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="1" data-position="left" data-tooth="4" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="1" data-position="left" data-tooth="3" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="1" data-position="left" data-tooth="2" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="1" data-position="left" data-tooth="1" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="1" data-position="right" data-tooth="1" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="1" data-position="right" data-tooth="2" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="1" data-position="right" data-tooth="3" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="1" data-position="right" data-tooth="4" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="1" data-position="right" data-tooth="5" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="1" data-position="right" data-tooth="6" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="1" data-position="right" data-tooth="7" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="1" data-position="right" data-tooth="8" /></td>
                                        </tr>
                                        <tr>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="2" data-position="left" data-tooth="8" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="2" data-position="left" data-tooth="7" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="2" data-position="left" data-tooth="6" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="2" data-position="left" data-tooth="5" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="2" data-position="left" data-tooth="4" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="2" data-position="left" data-tooth="3" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="2" data-position="left" data-tooth="2" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="2" data-position="left" data-tooth="1" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="2" data-position="right" data-tooth="1" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="2" data-position="right" data-tooth="2" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="2" data-position="right" data-tooth="3" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="2" data-position="right" data-tooth="4" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="2" data-position="right" data-tooth="5" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="2" data-position="right" data-tooth="6" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="2" data-position="right" data-tooth="7" /></td>
                                            <td><img src="~/images/tooth-svg.svg" class="tooth-svg" data-row="2" data-position="right" data-tooth="8" /></td>
                                        </tr>
                                        <tr>
                                            <td class="odonto-numbers">8</td>
                                            <td class="odonto-numbers">7</td>
                                            <td class="odonto-numbers">6</td>
                                            <td class="odonto-numbers">5</td>
                                            <td class="odonto-numbers">4</td>
                                            <td class="odonto-numbers">3</td>
                                            <td class="odonto-numbers">2</td>
                                            <td class="odonto-numbers">1</td>
                                            <td class="odonto-numbers">1</td>
                                            <td class="odonto-numbers">2</td>
                                            <td class="odonto-numbers">3</td>
                                            <td class="odonto-numbers">4</td>
                                            <td class="odonto-numbers">5</td>
                                            <td class="odonto-numbers">6</td>
                                            <td class="odonto-numbers">7</td>
                                            <td class="odonto-numbers">8</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="orto">
                                    <img src="~/images/tipo-mordida.jpg" />
                                </div>
                            </div>
                            <div class="form-group col-12 mt-2">
                                <label asp-for="Diagnostic" class="control-label"></label>
                                <textarea asp-for="Diagnostic" class="form-control" rows="3"></textarea>
                                <span asp-validation-for="Diagnostic" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2">
                                <label asp-for="TypeDentalClean" class="control-label"></label>
                                <input asp-for="TypeDentalClean" class="form-control" />
                                <span asp-validation-for="TypeDentalClean" class="text-danger"></span>
                            </div>
                            @*General*@
                            <div class="form-group col-4 mt-2 general">
                                <label asp-for="Extractions" class="control-label"></label>
                                <input asp-for="Extractions" class="form-control" />
                                <span asp-validation-for="Extractions" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2 general">
                                <label asp-for="WisdomTeeht" class="control-label"></label>
                                <input asp-for="WisdomTeeht" class="form-control" />
                                <span asp-validation-for="WisdomTeeht" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2 general">
                                <label asp-for="Prosthodontics" class="control-label"></label>
                                <input asp-for="Prosthodontics" class="form-control" />
                                <span asp-validation-for="Prosthodontics" class="text-danger"></span>
                            </div>
                            @*Fin General*@
                            @*Ortodoncia*@
                            <div class="form-group col-4 mt-2 orto">
                                <label asp-for="TxPrev" class="control-label"></label>
                                <input asp-for="TxPrev" class="form-control" />
                                <span asp-validation-for="TxPrev" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2 orto">
                                <label asp-for="TxDuration" class="control-label"></label>
                                <input asp-for="TxDuration" class="form-control" />
                                <span asp-validation-for="TxDuration" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2 orto">
                                <label asp-for="Profile" class="control-label"></label>
                                <input asp-for="Profile" class="form-control" />
                                <span asp-validation-for="Profile" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2 orto">
                                <label asp-for="Midlines" class="control-label"></label>
                                <input asp-for="Midlines" class="form-control" />
                                <span asp-validation-for="Midlines" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2 orto">
                                <label asp-for="Diastemas" class="control-label"></label>
                                <input asp-for="Diastemas" class="form-control" />
                                <span asp-validation-for="Diastemas" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2 orto">
                                <label asp-for="BiteType" class="control-label"></label>
                                <select asp-for="BiteType" class="form-control">
                                    <option value="">Seleccione...</option>
                                    <option value="1">Tipo I</option>
                                    <option value="2">Tipo II 1</option>
                                    <option value="3">Tipo II 2</option>
                                    <option value="4">Tipo III</option>
                                    </select>
                                <span asp-validation-for="BiteType" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2 orto">
                                <label asp-for="Crowding" class="control-label"></label>
                                <input asp-for="Crowding" class="form-control" />
                                <span asp-validation-for="Crowding" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2 orto">
                                <label asp-for="Habits" class="control-label"></label>
                                <input asp-for="Habits" class="form-control" />
                                <span asp-validation-for="Habits" class="text-danger"></span>
                            </div>
                            @*Fin Ortodoncia*@
                            <div class="form-group col-4 mt-2">
                                <label asp-for="PanoramicRx" class="control-label"></label>
                                <input asp-for="PanoramicRx" class="form-control" />
                                <span asp-validation-for="PanoramicRx" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2">
                                <label asp-for="CephalometricRx" class="control-label"></label>
                                <input asp-for="CephalometricRx" class="form-control" />
                                <span asp-validation-for="CephalometricRx" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4 mt-2">
                                <label asp-for="PeriapicalRx" class="control-label"></label>
                                <input asp-for="PeriapicalRx" class="form-control" />
                                <span asp-validation-for="PeriapicalRx" class="text-danger"></span>
                            </div>
                            <div class="col-12 mt-2 table-responsive">
                                <h2>Procedimientos</h2>
                                <hr />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>Doctor</th>
                                            <th>Procedimiento</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in history)
                                        {
                                            <tr>
                                                <td>@item.AppointmentDate.ToString("dd/MM/yyyy")</td>
                                                <td>@item.Patient.FirstName @item.Patient.LastName</td>
                                                <td class="white-space: pre-line;">@item.Description</td>
                                            </tr>
                                        }
                                        <tr>
                                            <td><input type="date" class="form-control" name="appointmentDate" value="@Html.Raw(DateTime.Now.ToString("yyyy-MM-dd"))" /></td>
                                            <td>@patient.FirstName @patient.LastName</td>
                                            <td class="white-space: pre-line;"><textarea class="form-control" name="description" rows="3"></textarea></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group mt-3 d-flex justify-content-center">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var odontogram = @Html.Raw(Json.Serialize(odontogram));
        var patientId = @patient.Id;
    </script>
    <script src="~/js/AttendAgenda/script.js" asp-append-version="true"></script>
}
