@using OdontoSystem.Helpers
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using OdontoSystem.Areas.Identity.Data

@inject UserManager<OdontoSystemUser> _userManager

@{
    var actualUser = await _userManager.FindByIdAsync(User.Claims.First().Value);
}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element me-1">
                    <a class="dropdown-toggle text-decoration-none" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="block m-t-xs font-bold">@User.Claims.ToList()[1].Value</span>
                        <span class="text-muted text-xs block">Opciones <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="Home" asp-action="Logout" class="dropdown-item">Cerrar sesión</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    FM
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "Index")">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none"><i class="fa fa-home"></i> <span class="nav-label">Inicio</span></a>
            </li>

            <li class="@Html.IsSelected(controller: "Inventory", action: "Index")">
                <a asp-controller="Inventory" asp-action="Index" class="text-decoration-none"><i class="fa fa-list"></i> <span class="nav-label">Inventario</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Agenda", action: "Index")">
                <a asp-controller="Agenda" asp-action="Index" class="text-decoration-none"><i class="fa fa-list"></i> <span class="nav-label">Agenda</span></a>
            </li>


            @if (actualUser.Speciality == "Doctor")
            {
                <li class="@Html.IsSelected(controller: "AttendAgenda", action: "Index")">
                    <a asp-controller="AttendAgenda" asp-action="Index" class="text-decoration-none"><i class="fa fa-list"></i> <span class="nav-label">Agenda de hoy</span></a>
                </li>
            }

        </ul>
    </div>
</nav>